/*css for home component*/
.grid-container {
  padding-left: 2%;
  padding-top: 2%;
}

.customer-rating {
  background: #f7dc6f;
  width: 40%;
  color: #ffffff;
  text-align: center;
}

.customer-price {
  display: flex;
  text-align: justify;
  align-items: center;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen  and (max-width:1024px) {
  .Home-card-1 {
    margin: auto !important;
    margin-bottom: 24px !important;
  }
  .grid-container {
    padding-left: 0 !important;
  }
}
@media screen  and (max-width:570px){
  .grid-container {
    justify-content: center;
  }
}